<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <div class="container">
            <a class="navbar-brand" href="/api/card/list">list</a>
            <a class="navbar-brand" href="/api/card/versions/1">versions/1</a>
            <a class="navbar-brand" href="/api/card/get/1">get/1</a>
            <a class="navbar-brand" href="/api/card/put">put</a>
        </div>
    </div>
</nav>